<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/tw-output.css" />
  <link rel="stylesheet" href="/index.css" />
  <title>Earth Echoes - HTML</title>
</head>

<body>
  <main>
    <header>
      <section class="flex flex-col p-60 text-center justify-center items-center BackImg">
        <h1 class="text-8xl drop-shadow-xl">Earth Echoes</h1>
        <p class="text-2xl mt-6 drop-shadow-xl">Where nature enthusiasts embark on a digital journey into the
          wonders of the natural world! Our platform is a sanctuary for those who find solace, inspiration, and
          excitement in the beauty of our planet. </p>
      </section>
      <section class="text-2xl text-center p-4 bg-lime-600 ">
        <p>Discover, Explore, Connect: Unveiling Nature&apos;s Mysteries; Inspiration in Every Sunrise: Embrace the
          Beauty of the Wild</p>
      </section>
    </header>
  </main>
</body>

</html>