@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c98049;
  color: white;
}

.BackImg {
  background-image: url('/src/assets/hero-img.jpg');
  background-position: center;
  background-size: cover
}


@layer components {
  .btn-primary {
    @apply bg-orange-400 text-center text-white px-6 py-1 uppercase tracking-wider
  }
}