<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/tw-output.css" />
    <link rel="stylesheet" href="/index.css" />
    <title>Earth Echoes</title>
    {{!-- <script>
      (function() { const className = 'compose-hide'; const style =
      document.createElement('style'); style.innerText = `.${className} {
      opacity: 0 !important; }`; document.head.appendChild(style);
      document.documentElement.classList.add(className); setTimeout(function() {
      document.documentElement.classList.remove(className) }, 4000); })();
    </script>
    <script
      src="https://compose-scripts.s3.amazonaws.com/660d915c8917f7fc54a4d0f9/660d9ab08917f7fc54a4d225.js"
    ></script> --}}
  </head>

  <body>

    {{{body}}}

  </body>

</html>